* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgba(31,31,31,255);
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.flex {
  display: flex;
  gap: 6px;
  justify-content: center;
}
.login {
    border: 1px solid #ffffff20;
  padding: 24px;
  border-radius: 20px;
  width: 350px;
  height: 450px;
  background-color: rgba(63,62,65,255);
}
#user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 150px;
}
.input {
  font-size: 16px;
  padding: 6px 4px;
  border-radius: 5px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-container{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.sign{
    font-size: 16px;
    padding: 6px 4px;
    border-radius: 15px;
}
